<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       default-lazy-init="true"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <bean id="csConfig"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:cs-config.properties"/>
    </bean>

    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="20097152"/>
    </bean>

    <!-- 采用通用配置，不需要再配置每个模块的包了 -->
    <context:component-scan base-package="springtest"/>

    <mvc:view-controller path="/" view-name="index"/>

    <!-- Configures the @Controller programming model -->
    <bean id="mappingJacksonHttpMessageConverter"
          class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>text/json;charset=utf-8</value>
                <value>application/json;charset=utf-8</value>
                <value>text/plain;charset=UTF-8</value>
                <!--<value>text/event-stream;charset=UTF-8</value>-->
            </list>
        </property>
    </bean>
    <bean
            class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <ref bean="mappingJacksonHttpMessageConverter"/>
            </list>
        </property>
    </bean>


    <!-- View Resolver for JSPs -->
    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass"
                  value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 启用spring mvc 注解 -->
    <context:annotation-config/>

    <mvc:annotation-driven>
        <mvc:message-converters>
            <ref bean="mappingJacksonHttpMessageConverter"/>
        </mvc:message-converters>
        <mvc:async-support default-timeout="60000"/>
    </mvc:annotation-driven>
</beans>
