<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <http pattern="/login.html*" security="none"/>
    <http pattern="/index.do" security="none"/>
    <http pattern="/pull3.do" security="none"/>
    <http pattern="/add.do" security="none"/>
    <http pattern="/pull2.do" security="none"/>
    <http pattern="/json.do" security="none"/>
    <http pattern="/reg.do*" security="none"/>
    <http pattern="/reg.html*" security="none"/>
    <http auto-config="true" entry-point-ref="unAuthorizedEntryPoint">
        <intercept-url pattern="/user/**" access="ROLE_USER"/>
        <logout logout-url="/logout.do"
                logout-success-url="/login.html"/>
        <!--
        default-target-url:指定了从登录页面登录后进行跳转的页面
        always-use-default-target:这个属性表示登录成功后强制跳转到default-target-url这个
        authentication-success-handler-ref:可以让手动注入登录成功后的处理程序，需要实现AuthenticationSuccessHandler接口。
        authentication-failure-handler-ref="authFailHandler"
        -->
        <!--always-use-default-target="true"-->
        <form-login login-page="/login.html"
                    default-target-url="/index.do"
                    always-use-default-target="true"
                    authentication-success-handler-ref="authSuccessHandler"
                    authentication-failure-url="/login.html?error=1"/>
        <!--<custom-filter ref="tokenBasedPreAuthFilter" position="PRE_AUTH_FILTER"/>-->
        <session-management invalid-session-url="/login.html?error=3"/>
    </http>
    <beans:bean id="tokenBasedPreAuthFilter" class="springtest.util.TokenBasedPreAuthFilter">
        <beans:property name="authenticationManager" ref="authenticationManager"/>
    </beans:bean>

    <beans:bean class=" org.springframework.security.authentication.encoding.Md5PasswordEncoder"
                id="md5PasswordEncoder"/>
    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="userService">
            <password-encoder ref="md5PasswordEncoder"/>
        </authentication-provider>
        <!--<authentication-provider ref="noPwdTokenBasedPreAuth"/>
        <authentication-provider ref="tokenBasedPreAuth"/>-->
    </authentication-manager>
</beans:beans>